@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main">
    <div class="title_left">
        <h3>Product</h3>
    </div>
    <div class="box-header">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> <i class="fa fa-plus"></i>Add Product</button>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="ProductTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Supplier Name</th>
                        <th>Unit Price</th>
                        <th>Package</th>
                        <th>IsDiscontinued</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
                <tr class="trrow d-none">
                    <td class="pname"></td>
                    <td class="sname"></td>
                    <td class="uprice"></td>
                    <td class="package"></td>
                    <td class="IsDiscontinued"></td>
                    <td class="action">
                        <a href="#" class="btn btn-primary btn-xs me-2 btnEdit">Edit</a>
                        <a href="#" class="btn btn-danger btn-xs me-2 btnDelete">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Customer</h4>
                    <button type="button" class="btn-close" id="btnModal" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12 mb-2">
                            <input type="hidden" class="form-control" id="ID">
                            <label for="pName">Product Name</label>
                            <input type="text" class="form-control" required id="pName" placeholder="Product Name">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <label for="sName">Supplier Name</label>
                            <select name="sName" id="sName" class="form-control" required >
                               
                            </select>
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <label for="UnitPrice">Unit Price</label>
                            <input type="number" class="form-control" required id="UnitPrice">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <label for="package">Package</label>
                            <input type="text" class="form-control" required id="package" placeholder="Package">
                        </div>
                        <div class="form-group col-md-12 mb-2">
                            <label class="form-check-label" for="IsDiscontinued">
                                IsDiscontinued
                            </label>
                            <input class="form-check-input" type="checkbox" id="IsDiscontinued">
                        </div>
                       
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/Product.js"></script>



